<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="shortcut icon" href="#" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    {%block style%}
    {%endblock%}
   

       
</head>

<body >
       
    <section class="hero is-primary" style="height:150px; background-color:#02b662">
            <img  style="padding-left:10px;padding-top:10px" height="130" width="130" src="static/logo.png" alt="Italian Trulli">

        <div style="margin-top:-120px" class="hero-head">
            <nav class="navbar">
                <div class="container">
                        
                        {%block title%}
                        {%endblock%}
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        
                            <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                Logout
                            </a>
                            <button id="addnode" type="button" onclick="addNode()"  style="color:black; background-color:#FFFFFF">Add Node</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        
        
        <div class="hero-body">
                
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div> 
        </div>
    </section>
    {% block navbar %}
    {% endblock %}

    {%block chart%}
    {%endblock%}
    
    {% block map %}
    {% endblock %}

    {%block mapScript%}
    {%endblock%}
</body>
</html>